.bike-configurator-page[data-v-80b6fb34] {
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-color: #000;
  font-family: Roboto, sans-serif;
  -webkit-user-select: none;
          user-select: none;
}
.overlay[data-v-80b6fb34] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.blurred-background[data-v-80b6fb34] {
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.options-button[data-v-80b6fb34] {
  position: relative;
  height: 33px;
  border: 0;
  border-radius: 1em;
  background-color: transparent;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}
.options-button[data-v-80b6fb34] {
  padding: 0 3px;
}
.options-button[data-v-80b6fb34]:hover,
.options-button.active[data-v-80b6fb34] {
  cursor: pointer;
  background: #fff;
  opacity: 1;
  transition: 0.1s ease-in-out;
}
.options-button[data-v-80b6fb34]:hover {
  transform: scale(1.2);
}
.options-button[data-v-80b6fb34]:disabled {
  cursor: default;
  background: transparent;
  transform: none;
}
.options-label[data-v-80b6fb34] {
  min-width: 90px;
  margin-right: 2px;
  padding-right: 3px;
  text-align: right;
}
.tooltip[data-v-80b6fb34] {
  position: absolute;
  z-index: 1500;
  top: 150%;
  left: 50%;
  width: 200px;
  margin-left: -102px;
  padding: 5px;
  visibility: hidden;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  transition-delay: 0.2s;
}
.tooltip[data-v-80b6fb34]::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.5);
  content: '';
}
.tooltip.top[data-v-80b6fb34] {
  top: initial;
  bottom: 100%;
}
.tooltip.top[data-v-80b6fb34]::after {
  top: 100%;
  bottom: initial;
  border-color: rgba(0, 0, 0, 0.5) transparent transparent;
}
button:hover .tooltip[data-v-80b6fb34] {
  visibility: visible;
  margin-top: 5px;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
#bottom-ui[data-v-80b6fb34] {
  position: absolute;
  bottom: 75px;
  z-index: 1;
  display: flex;
  width: 100vw;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  pointer-events: none;
}
#configuration-options[data-v-80b6fb34] {
  display: flex;
  padding-right: 8px;
  padding-left: 0.5rem;
  pointer-events: auto;
}
#material-options[data-v-80b6fb34],
#color-options[data-v-80b6fb34],
#animation-options[data-v-80b6fb34],
#skybox-options[data-v-80b6fb34] {
  display: flex;
  align-items: center;
}
#material-options > button[data-v-80b6fb34]:nth-last-of-type(2) {
  margin-left: 6px;
}
@media screen and (orientation: landscape) and (max-width: 1000px) {
#bottom-ui[data-v-80b6fb34] {
    justify-content: left;
    margin-left: 2vw;
}
#bottom-ui[data-v-80b6fb34] {
    bottom: 11px;
    line-height: 0;
}
}
