
.hover-main-building[data-v-1cfd1927] {
    cursor: pointer;
}
.building-label[data-v-1cfd1927] {
    position: absolute;
    left: 50%;
    top: 20px;
    white-space: nowrap;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
