.illustrateTire > div:first-of-type {
  position: relative !important;
}
.illustrateTire {
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none !important;
}
.illustrateTire #inner {
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none !important;
}
.illustrateTire .card {
  color: white;
  background-color: #b8e4ff3b;
}
.illustrateTire .card .card-body {
  padding: 8px 22px;
  color: white;
  width: 22em;
}
.illustrateTire .card .card-body h3 span {
  display: inline-block;
  transform-origin: center center;
  animation: rotate 5s linear infinite;
  /* 无限循环 */
}
@keyframes rotate {
  /* 从0度旋转到360度 */
from {
    transform: rotateZ(0deg);
}
to {
    transform: rotateZ(360deg);
}
}
.illustrateTire .card .card-body .Onec p {
  font-size: 0.8em;
  margin-bottom: 0;
}
.illustrateTire .card .card-body .Onec h1 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.chartDiv #inner {
  -webkit-user-select: none;
          user-select: none;
  pointer-events: none !important;
}
