@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.font-wallpoet {
  font-family: "Wallpoet", serif;
}
.neumorphic-button {
  border-radius: 9999px;
  background-color: #c2c2c2;
  color: #000;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 1px 1px 2px #b5b5b5, -4px -4px 8px #ffffff;
  transition: all 0.3s ease;
}
.neumorphic-button:hover {
  box-shadow: 1px 1px 2px #b5b5b5, -4px -4px 8px #ffffff;
  transform: translateY(1px);
}

a[data-v-d3dad5f4] {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

