
.svgCom>div:first-of-type {
	position: relative !important;
}
.svgCom {
	-webkit-user-select: none;
	        user-select: none;
	pointer-events: none !important;
#outer {
		-webkit-user-select: none;
		        user-select: none;
		pointer-events: none !important;
#inner {
			cursor: pointer;
			-webkit-user-select: none;
			        user-select: none;
}
}
}

svg[data-v-a8e199ed] {
	width: 300px;
	height: 300px;
}
svg circle[data-v-a8e199ed] {
	stroke: #ffffff;
}
.circle[data-v-a8e199ed] {
	transform-origin: center;
}
#arc1[data-v-a8e199ed] {
	stroke-dasharray: 30;
	stroke-dashoffset: 18;
	animation: 10s -2s rota-a8e199ed infinite linear;
}
#arc3[data-v-a8e199ed] {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation: 16s 1s rota-a8e199ed infinite linear;
}
#arc4[data-v-a8e199ed] {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation: 6s 1s rota-a8e199ed infinite linear reverse;
}
#arc5[data-v-a8e199ed] {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation: 4s 1s rota-a8e199ed infinite linear;
}
#arc6[data-v-a8e199ed] {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation: 8s 1s rota-a8e199ed infinite linear alternate;
}
#arc7[data-v-a8e199ed] {
	stroke-dasharray: 400;
	stroke-dashoffset: 400;
	animation: 4s 1s rota-a8e199ed infinite linear reverse;
}
text[data-v-a8e199ed] {
	fill: #ffffff;
	font: bold 24px sans-serif;
}
@keyframes rota-a8e199ed {
from {
		transform: rotate(0deg);
}
to {
		transform: rotate(360deg);
}
}

#tvt-app {
	width: 100%;
	height: 100vh;
}

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo&display=swap'); */
[data-v-3b92f21c] {
	font-family: sans-serif;
}
.circleScale[data-v-3b92f21c] {
	position: relative;
	top: 12%;
	left: 16%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 0.66;
	/* transform: scale(50); */
	/* background-color: #ff8b04; */
	/* -webkit-animation: circleScaleExpand 1s ease-in forwards;
	animation: circleScaleExpand 1s ease-in forwards; */
}
.circleScaleAnimationOld[data-v-3b92f21c] {
	animation: circleScaleExpandOld-3b92f21c 1s ease-in forwards;
}
.circleScaleAnimationNew[data-v-3b92f21c] {
	animation: circleScaleExpandNew-3b92f21c 1s ease-out forwards;
}
@keyframes circleScaleExpandOld-3b92f21c {
0% {
		transform: scale(0.1);
}
100% {
		transform: scale(80.1);
}
}
@keyframes circleScaleExpandNew-3b92f21c {
0% {
		transform: scale(0);
}
100% {
		transform: scale(80);
}
}
.title[data-v-3b92f21c] {
	margin-top: -120px;
	font-family: 'Bebas Neue', cursive;
	font-size: 128px;
@media (max-width: 768px) {
		margin-top: 20px;
		font-size: 64px;
}
}
.landingpage-bg[data-v-3b92f21c] {
	background-image: url("../png/heatmap2.CMmGG15U1767105581793.png");
	filter: blur(46px) hue-rotate(325deg) grayscale(100%);
	/* 模糊度  色阶  灰度*/
}
li[data-v-3b92f21c] {
	list-style: none;
}
