.title[data-v-3dc6f516] {
  color: white;
  margin: 60px auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.btn-list[data-v-3dc6f516] {
  padding: 0 20%;
}
.btn[data-v-3dc6f516] {
  margin: 20px auto;
  display: block;
}
