@charset "UTF-8";.image-uploader-panel .n-card > .n-card-header .n-card-header__main {
  color: #fff !important;
}
.image-uploader-panel[data-v-75b74eb7] {
  position: fixed;
  top: 50px;
  left: 20px;
  z-index: 9999;
}
.panel-card[data-v-75b74eb7] {
  width: 280px;
  padding: 10px;
}
.upload-mask[data-v-75b74eb7] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明黑色 */
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
.upload-mask-content[data-v-75b74eb7] {
  text-align: center;
  color: white;
  font-size: 16px;
}
.upload-text[data-v-75b74eb7] {
  margin-top: 12px;
}