.dnd-panel[data-v-a8b49de1]{width:200px;-webkit-user-select:none;user-select:none}.dnd-item[data-v-a8b49de1]{transition:all .2s}.dnd-item[data-v-a8b49de1]:hover{transform:scale(1.05)}svg[data-v-a8b49de1]{transition:transform .2s}
