.text[data-v-3881bd43] {
  position: absolute;
  bottom: 6vh;
  width: 100%;
  text-align: center;
  z-index: 9999;
}
.retro[data-v-3881bd43] {
  font-size: 18vh;
  display: block;
  color: #000;
  text-shadow: 0 0 0.125vh #f4a, 0 0 0.125vh #f4a, 0 0 0.25vh #f4a, 0 0 0.5vh #f4a, 0 0 0.75vh #f4a;
}
.noselect[data-v-3881bd43] {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  /* Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
