.UIIndex[data-v-8580be66]{position:relative;top:0;width:100%;height:100%;z-index:1}.go-preview-mask{height:100%;background:none!important}.mask-right{background:none!important;right:0;position:absolute;top:0}
