
main[data-v-9439621a] {
    background-color: transparent;
    position: relative;
    /* z-index: 1; */
}
section[data-v-9439621a] {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
h1[data-v-9439621a] {
    color: #f7f7f7;
    margin-left: 6em;
    font-size: 3em;
    text-align: center;
}

.tp-dfwv {
    position: fixed !important;
}
