.home-btn[data-v-0080c45a] {
  right: 93px;
  bottom: 10px;
  --f-btn-min-width: auto;
  border-right-width: 0px;
}
.rbts[data-v-0080c45a] {
  z-index: 10001;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.fpsStats[data-v-dd2639f2] {
  z-index: 99999;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 3px;
  border: 1px solid #5384ff;
  top: 1px;
  left: 1px;
}
.fpsStats .number[data-v-dd2639f2] {
  font-size: 9px;
  margin-right: 6px;
  color: #5384ff;
  text-align: center;
}
.fpsStats svg[data-v-dd2639f2] {
  background-color: #f3f4f6;
}
.n-float-button {
  background-color: #e1e1e1c4;
}
