.top[data-v-82c55e63]{position:absolute;margin:6px 3px}.datetime-container[data-v-82c55e63]{position:absolute;top:5px;right:20px;font-family:Arial,sans-serif;text-align:right;color:#fff;font-size:1.3em}
